*{


margin: 0%;
padding: 0%;
font-family: monospace;
box-sizing: border-box;

}

body
{

    background: #596e79; 
}

.app
{
background-color: whitesmoke;
width: 90%;
max-width: 600px;
margin: 100px auto 0;
border-radius: 10px;
padding: 28px;
}

.app h1
{
font-weight: 25px;
color: black;
font-weight: 300;
border-bottom: 1px solid #333;


}




.quiz
{


padding: 20px 0;
font-weight: 600;
color: #001e4d;

}

.quiz h2{ font-size: 18px;
/* font-display:optional; */
font-weight: 600;
color: #001e4d;
}

.btn
{
    background: #fff;
    
    color: #222;
    font-weight: 500px;
    width: 100%;
    border:1px solid #222;
    font-weight: 500px;
    margin:10px 0;
    padding: 10px;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
 transition: all  0.2s;
}

.btn:hover
{
 background: #222;
 color: white;


}
.next-button{
 background: white;
 color: black;
 font-weight:500px;
 width: 150px;
 margin:20px auto;
 border:0px;
 padding:10px;
 border-radius:4px;
 cursor: pointer;
 display: block;
 

 
}

.next-button:hover{
    
    background: green;
    color:white;
}